@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 35px 104px;

    & a{
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        margin-left: 65px;
        /* font-size: 22px; */
        transition-duration: 150ms;

        &:hover{
            color: #E6C744;
        }

        &.btn{
            background-color: black;
            color: white;
            line-height: 62px;
            display: inline-block;
            padding: 0 22px;
            border-radius: 7px;
            margin-left: 35px;

            &:hover{
                background-color: #E6C744;
                color: black;
            }
        }
    }
}

#marcas{
    background-color: #E6C744;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 30px 100px;
    & img{
        mix-blend-mode: multiply;
    }
}

#newsletter{
    background-color: #E6C744;
    color: white;
    text-align: center;
    padding: 150px 0;
    & h1{
        font-size: 55px;
        line-height: 70px;
        margin: auto;
        width: 60%;
        padding: 10px;
    }
    & p{
        font-size: 24px;
        margin: 50px 0;
    }
    & .input-group{
        display: flex;
        justify-content: center;
        background-color: white;
        width: 500px;
        border-radius: 10px;
        padding: 10px;
        margin: 0 auto;
    }
    & input{
        flex: 1;
        border: none;
        font-size: 24px;
        &:focus{
            outline: none;
        }
    }
    & button{
        line-height: 60px;
        padding: 0 36px;
        border-radius: 10px;
        background-color: black;
        color: white;
        font-size: 30px;
        font-weight: bold;
        transition-duration: 200ms;
        border: none;
        &:hover{
            background-color: #E6C744;
            color: black;
            cursor: pointer;
        }
    }
}

footer{
    background-color: black;
    color: white;
    padding: 100px;
    display: flex;
    justify-content: space-between;

    & h1{
        font-size: 40px;
        text-transform: uppercase;
    }
    & p{
        width: 300px;
        margin: 32px 0;
    }
    & .redes-sociais{
        display: flex;
        gap: 14px;
        & a{
            width: 50px;
            height: 50px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #E6C744;
            fill: #E6C744;
            transition-duration: 150ms;
            &:hover{
                background-color: #E6C744;
                fill: black;
            }
        }
    }
    & .sitemap{
        display: flex;
        gap: 80px;
        & div{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        & a{
            color: #FFFFFF70;
            text-decoration: none;
            transition-duration: 150ms;
            &:hover{
                color: #FFFFFF;
            }
        }
    }
}   